.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.quote-text {
  font-size: 2.5rem;
  font-weight: bold;
}

.quote-author {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 15px;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(56, 56, 56);
}

span {
  margin: 0 20px;
}

.quote-tag {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
}

.quote-tag span:hover {
  border-radius: 20px;
  padding: 10px;
  background-color: antiquewhite;
}

@media screen and (max-width: 800px) {
  .quote-container {
    margin: 10px;
  }

  .quote-text {
    font-size: 1.2rem;
  }
}
